@import url('https://fonts.googleapis.com/css2?family=Jockey+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.font-jockey {
    font-family: 'Jockey One', sans-serif;
}

.font-opensans {
    font-family: 'Open Sans', sans-serif;
}

.color-home-yellow {
    color: #dbbf1b;
}

.video-container {
    width: 90%;
    margin: 0 auto;
    height: 65vh;
}

.home-video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
