@import url('https://fonts.googleapis.com/css2?family=Jockey+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.font-jockey {
    font-family: 'Jockey One', sans-serif;
}

.font-opensans {
    font-family: 'Open Sans', sans-serif;
}

.color-home-yellow {
    color: #dbbf1b;
}

@media (min-width: 768px) {
    .video-container {
        width: 90%;
        margin: 0 auto;
        height: 65vh;
    }

    .home-video {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.gallery {
    width: 100%;
    /* min-height: 500px; */
    background-color: black;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(7, 250px);
}

.gallery-item {
    border: 0.1px solid rgba(131, 131, 131, 0.555);
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}
